# bytecode
*.elc

# packaging
.cask

# backups
*~

# flycheck detritus
flycheck_*.el

# the persistence directory
persistence/

# tramp history
tramp

# magit transient data
transient/

# eww cache
url

# secrets
**/conleym-secrets.el

# elpa packages
lisp/elpa
lisp/elpa/**/*

# el-get and packages
lisp/el-get
lisp/el-get/**/*

# Networking poop
network-security.data

# image-dired thumbnail cache
image-dired

# auto-update-package poop
.last-package-update-day

# macOS poop
.DS_Store
